# --- Sunucu için ---
fastapi           # Bizim ana web framework'ümüz (API oluşturmak için)
uvicorn[standard] # FastAPI'yi çalıştıran yüksek performanslı sunucu

# --- Veritabanı Bağlantısı için ---
psycopg2-binary   # Python'un PostgreSQL ile konuşmasını sağlayan "sürücü" (driver)
SQLAlchemy        # Python'da SQL kodları yazmadan veritabanı ile konuşmamızı sağlayan kütüphane (ORM)

# --- Güvenlik ve Ayarlar için ---
python-dotenv     # .env dosyamızdaki (DATABASE_URL) değişkenlerini okumak için
passlib          # passlib'in en son sürümünü kur (bu sorunsuz)
bcrypt==4.3.0    # bcrypt'i "NİHAİ ÇÖZÜM" olan 4.3.0'a KİLİTLE
  # Kullanıcı şifrelerini güvenli bir şekilde hash'lemek (şifrelemek) için


python-jose[cryptography] # Kullanıcı giriş yaptığında JWT (Token) oluşturmak ve doğrulamak için